.settings-btn {
    background: #017012;
    border-radius: 5px;
    padding: 4px;
    margin-left: 5px;
    border: 2px solid #4BF264;
    color: #4BF264;
}

.settings-btn:hover {
    background: #4BF264;
    color: #017012;
}

.settings-select {
    background: #017012;
    color: #4BF264;
    margin-left: 5px;
}

.settings-title {
    color: #017012;
    font-size: 3rem;
}
